/*reset*/
/*Fuente*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  border: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: rgb(70, 65, 65);
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.idenea {
  color: rgba(51, 216, 51, 0.89);
}

.fit {
  color: rgb(238, 44, 44);
}

/*fim reset*/
/*comienza navbar - uso de bootstrap - animacion*/
.navbar {
  font-size: 25px;
  padding: 10px 15px;
}
.navbar .navbar-nav {
  align-items: start;
}
.navbar .navbar-nav .nav-link {
  color: rgb(70, 65, 65);
  font-size: 25px;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgba(238, 44, 44, 0.719);
  text-decoration-color: rgba(238, 44, 44, 0.719);
  text-shadow: 2px 2px 3px rgb(56, 67, 167);
}

.nav-ani {
  animation-name: nav-ani;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2.5s;
  animation-delay: 0s;
}

@keyframes nav-ani {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*finaliza navbar*/
/*import layout/header uso de boostrap-flex - mixins - gradiente - animacion*/
.frase {
  text-align: center;
  text-shadow: 5px 2px 3px rgb(56, 67, 167);
  padding: 20px;
  height: 70vh;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.3), black), linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.2), black), url(../recursos/imagenes/heroe-image.jpg);
  background-position: center center;
  /*mixins*/
  background-size: cover;
  background-repeat: no-repeat;
  /*animate*/
}
.frase .ani {
  animation-name: zoomIn;
  animation-duration: 2s;
  animation-delay: 1s;
}
.frase h3 {
  color: rgb(70, 65, 65);
  text-align: start;
  text-shadow: none;
}

/*animacion*/
.ani-index {
  animation-name: frase;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 0s;
}

@keyframes frase {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
/*fin import layout/header*/
/*main - import page/index*/
.mainidea {
  margin: 60px 0px;
}
.mainidea .mainidea-cajas {
  padding: 70px 10px;
  text-align: center;
  color: rgb(70, 65, 65);
}
.mainidea .mainidea-cajas .idenea {
  text-shadow: 3px 2px 3px rgb(56, 67, 167);
}
.mainidea .mainidea-cajas .fit {
  text-shadow: 3px 2px 3px rgb(56, 67, 167);
}

/*fin import page/index*/
/*main - import page/nuestra-vision*/
.nuestra-vi {
  font-weight: bold;
  padding: 50px 40px;
  max-width: 100%;
}
.nuestra-vi .nuestra-imagen {
  background-image: url(../recursos/imagenes/vision.png);
  /*2 mixin*/
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 160px;
  max-width: 100%;
}

/*fin import page/nuestra-vision*/
/*main - import page/opiniones*/
.opiniones-titulos {
  text-align: center;
  padding: 70px 30px;
}

.container {
  padding: 50px 20px;
}
.container .card {
  margin: 20px;
  box-shadow: 5px 5px 10px;
  /*@extend a class de page/sedes*/
}
.container .card .card-text, .container .card .sedesh {
  font-family: "Dancing Script", cursive;
}

/*fin import page/opiniones*/
/*main - import page/registrarse*/
.frase-registrarse {
  font-size: 2.6rem;
}

.registro {
  padding: 15px 2px 10px 2px;
  max-width: 100%;
}
.registro .labelkyinputk {
  padding-top: 13px;
  font-size: 1rem;
  max-width: 100%;
}
.registro .labelkyinputk .inputk {
  font-size: 0.9rem;
}
.registro .enviar-reset {
  padding: 50px 0px;
}

/*fin import page/registrarse*/
/*import page/sedes - @extend*/
/*import layout/section - flexbox -iframe - bootstrap - mixins - gradiente*/
/*seccion planes*/
.planes {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0;
}
.planes h2 {
  padding: 10px;
  color: rgba(51, 216, 51, 0.89);
  /*mixins*/
  text-shadow: 2px 2px 3px rgb(56, 67, 167);
}
.planes .plan {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.7), black), url(../recursos/imagenes/plan.jpg);
  background-position: top center;
  /*mixins*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  max-width: 700px;
  margin-top: 50px;
  text-align: center;
  padding: 0;
}
.planes .plan .plan_tiempo {
  display: flex;
  justify-content: space-around;
}
.planes .plan .plan_tiempo .button {
  margin: 20px;
}
.planes .plan .plan_tiempo .btn-outline-danger {
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 1px 1px 3px;
  transition: all 1.3s;
}

/*seccion profe, iframe youtube, flexbox*/
.profe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(70, 65, 65);
}
.profe h2 {
  font-size: 2rem;
  padding: 30px 0px 20px 0px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.profe .video-profe {
  width: 350px;
  height: 300px;
  max-width: 100%;
}

/*seccion preguntas frecuentes - bootstrap accordion*/
.preguntas-frecuentes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}
.preguntas-frecuentes h3 {
  font-size: 1.8rem;
}
.preguntas-frecuentes .accordion {
  max-width: 600px;
}

/*fin import layout/section*/
/*import layout/footer con gridd y flexbox*/
footer .caja-footer {
  display: flex;
  flex-direction: column;
  /*en mediaQuerie pasa a display:grid*/
  margin-top: 40px;
  color: rgb(70, 65, 65);
  border-top: 3px rgb(70, 65, 65) solid;
}
footer .caja-footer .cajitas-footer {
  margin: 10px;
  padding: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
footer .caja-footer .cajitas-footer .caja__sitio {
  color: rgb(70, 65, 65);
}
footer .caja-footer .cajitas-footer .caja__sitio:hover {
  color: rgba(238, 44, 44, 0.719);
  text-decoration-color: rgba(238, 44, 44, 0.719);
  text-shadow: 2px 2px 3px rgb(56, 67, 167);
}
footer .caja-footer .cajitas-footer li {
  font-size: 1.4em;
}
footer .caja-footer .cajitas-footer .redes {
  padding-top: 15px;
}
footer .caja-footer .cajitas-footer .redes .caja__redes {
  width: 40px;
  height: 40px;
}

/*fin import layout/footer con gridd*/
/*mediaQueries*/
@media screen and (min-width: 576px) {
  .profe .video-profe {
    width: 400px;
    height: 345px;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  footer .caja-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .registro .labelkyinputk {
    font-size: 1.9rem;
  }
  .registro .labelkyinputk .inputk {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 75%;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 30px;
  }
  .navbar .navbar-nav {
    align-items: start;
  }
  .profe .video-profe {
    width: 700px;
    height: 400px;
  }
  .frase-registrarse {
    font-size: 4.5rem;
  }
  /*agrego animacion*/
  .btn-outline-danger:hover {
    transform: scale(1.2, 1.2);
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4.5em;
  }
  h2 {
    font-size: 3.2em;
  }
  h3 {
    font-size: 2.8em;
  }
  p {
    font-size: 2em;
  }
  .planes .plan .plan_tiempo .btn-outline-danger {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
