.nuestra-vi{
    font-weight: bold;
    padding: 50px 40px;
    max-width: 100%;

    .nuestra-imagen{
        background-image: url(../recursos/imagenes/vision.png);
/*2 mixin*/
        @include back(contain, no-repeat);
        @include videoProfe(300px, 160px);
        max-width: 100%;
    }
}
