.opiniones-titulos{
    text-align: center;
    padding: 70px 30px;
}

.container{
    padding: 50px 20px;

    .card{
        margin: 20px;
        box-shadow: 5px 5px 10px;
/*@extend a class de page/sedes*/
        .card-text{
            font-family: $fontFamilySecondary;
        }
    }
}

