$textColorPrincipal: (rgb(70, 65, 65));
$testColorSecondary: (rgba(238, 44, 44, 0.719));
$backgroundColor: (black);

$idineaColor: (rgba(51, 216, 51, 0.89));
$fitColor: (rgb(238, 44, 44));


$fountSizeH: 25px;
$fontFamilyPrincipal: ('Roboto', sans-serif);
$fontFamilySecondary: ('Dancing Script', cursive);

