footer .caja-footer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: rgb(70, 65, 65);
    border-top: 3px rgb(49, 53, 53) solid;
    
    .cajitas-footer{
        margin: 10px;
        padding: 10px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;

        li{
            font-size: 1.4em;
        }

        .redes{
            padding-top: 15px;

            .caja__redes{
                width: 40px;
                height: 40px;
            }
        }
    }
}



