.navbar{
    font-size: $fountSizeH;
    padding: 10px 15px;

    .navbar-nav{
        align-items: start;

        .nav-link{
            color: $textColorPrincipal;
            font-size: $fountSizeH;
            &:hover{
                color: $testColorSecondary;              
                text-decoration-color: $testColorSecondary;
                @include textShadow(2px, rgb(56, 67, 167));
            }
        }
    }
}

.nav-ani{
    animation-name: nav-ani;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-delay: 0s;
}

@keyframes nav-ani{
    0%{opacity: 0;}
    25%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}


