/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0;
}

body{
    background-color: $backgroundColor;
    font-family: $fontFamilyPrincipal;
    color: $textColorPrincipal;
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.2em;}
ul{list-style: none;
padding: 0;}
a{text-decoration: none;}

.idenea{color: $idineaColor;}
.fit{color: $fitColor;}

